:root {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 700;
  box-sizing: border-box;
}

#container {
  width: 750px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
}

p {
  margin: 0px;
}

#header {
  display: flex;
  flex-direction: column;
  margin: 0px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}

#section-number-and-instruction-box {
  display: grid;
  grid-template-columns: 50px 1fr;
  border-bottom: solid;
  margin-bottom: 20px;
}

#section-number {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  font-size: 40px;
}

#instruction-text {
  margin-left: 10px;
  font-size: 20px;
}

.question-box {
  display: grid;
  grid-template-columns: 50px 1fr;
  font-size: 20px;
  margin-bottom: 25px;
}

#question-number {
  display: flex;
  justify-content: center;
}

#question-and-answer-box {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

#question-text {
  display: grid;
  grid-template-columns: auto 1fr;
}

#question-text-label {
  margin-right: 10px;
}

.correct-answer {
  margin-left: 11px;
  color: red;
}

input {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: blue;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-radius: 5px;
  padding: 5px 10px;
}

#submit-button {
  align-self: flex-end;
  width: 125px;
  height: 45px;
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: black;
  border-style: solid;
  border-color: black;
  border-width: 2px;
  border-radius: 5px;
  padding: 2px;
  cursor: pointer;
}

.check-mark-box {
  display: flex;
  justify-content: center;
}

.result-icon {
  width: 50%;
}
